{% extends 'base.html.twig' %}



{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .here{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .main{
            width: 170px;
            height: auto;
            border: 1px solid black;
            padding: 10px;
            position: relative;
        }

        .your{
            padding-top: 120px;
        }
        .that{
            text-align: center;
            font-size: larger;
        }
        .that h2{
            font-size: 5em;
        }
    </style>

    <div class="your">
    <form action="{{ path('app_categorys', { 'id': categorys.id }) }}" method="get">
        <label for="sort">Sort by price:</label>
        <select name="sort" id="sort">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>


        <div class="that">
            <h2>{{ categorys.name }}</h2>
            <p>Sort by price: {{ sort|capitalize }}</p>
        </div>
        <div class="here">
            <ul>
                {% for product in products %}
                    <a href="{{ path('app_products', {'id': product.id}) }}">
                        <div class="card">
                            <li>{{ product.name }} - {{ product.price }} $</li>
                            <br>
                            <img class="pp" src="{{ app.request.basepath }}/uploads/products/{{ product.pictureUrl }}" alt="{{ product.name }}" />
                        </div>
                    </a>
                {% endfor %}
            </ul>

        </div>
    </div>


    <a href="{{ path('app_app') }}">Back to All categorys</a>


{% endblock %}
